 <header>
 
    <nav class="nav">
     <div id='button'>
         <form action="/about">
          <input type="submit" value="About">
         </form>
      </div>
     <!--  <a href="/categories">Category</a> -->
      <div id='button'>
         <form action="/categories">
          <input type="submit" value="Category">
         </form>
      </div>
      	{{#if user}}
      <div id='button'>
         <form action="/contribute/{{user}}">
          <input type="submit" value="Contribute">
         </form>
      </div>
      	{{else}}
      <div id='button'>
         <form action="/contribute">
          <input type="submit" value="Contribute">
         </form>
      </div>
      	{{/if}}
    <!--   <a href="/featured">Featured</a> -->

       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Featured" onclick="window.location.href='https://en.wikipedia.org/wiki/Portal:Featured_content'" />
        </form>
       </div>

       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Random" onclick="window.location.href='http://en.wikipedia.org/wiki/Special:Random'" />
        </form>
       </div>
     
    </nav>
    </header>










<div class='sign'>
     
              {{#if user}}
                <p style="margin-right: 180px;"> Hello {{name}}</p> 
                
                 <div class='logout'>
<form action="/sessions" method="POST">
<input type="hidden" name="_method" value="DELETE">
	
	
<input type="submit" value="Log Out">
</form>
</div>
              {{else}}
                <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>

         
              {{/if}}
   
       <!-- <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>   -->
    </div>


<img src="../pic/Wiki.png" />

