

<div class='signup'>
    <h2> LOG IN</h2>
    <form action="/sessions" method="post">
    
        <div id ="login-template">
        <div>
            <label>Username:</label>
            <input type="text" name="email" placeholder="Enter your email"/>
        </div> 
        <br>
        <div>
            <label>Password:</label>&nbsp;
            <input type="password" name="password" placeholder="Enter your password"/>
        </div>
        <br>
        <div>
           <button id="login-button">Log In</button>
        </div>
        </div>
    </form>
</div>
