

 <header>
 
    <nav class="nav">
     <div id='button'>
         <form action="/about">
          <input type="submit" value="About">
         </form>
      </div>
     <!--  <a href="/categories">Category</a> -->
      <div id='button'>
         <form action="/categories">
          <input type="submit" value="Category">
         </form>
      </div>
        
      <div id='button'>
         <form action="/contribute/{{id}}">
          <input type="submit" value="Contribute">
         </form>
      </div>
        
       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Featured" onclick="window.location.href='https://en.wikipedia.org/wiki/Portal:Featured_content'" />
        </form>
       </div>

       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Random" onclick="window.location.href='http://en.wikipedia.org/wiki/Special:Random'" />
        </form>
       </div>
     
    </nav>
    </header>

<div class='signup'>
    <h2> LOG IN</h2>
    <form action="/sessions" method="post">
    
        <div id ="login-template">
        <div>
            <label>Username:</label>
            <input type="text" name="email" placeholder="Enter your email"/>
        </div> 
        <br>
        <div>
            <label>Password:</label>&nbsp;
            <input type="password" name="password" placeholder="Enter your password"/>
        </div>
        <br>
        <div>
           <button id="login-button">Log In</button>
        </div>
        </div>
    </form>
</div>
