</section>
  <h2>Users</h2>
  <section id="users"></section>
  <h2>New Post</h2>
  <section id="new-post">
    <textarea name="" id="new-post-content" cols="30" rows="10"></textarea><br>
    <button id="new-post-button">Create Post</button>
  </section>