<form action="/article/contact/{{id}}" method="POST" style="clear: left; text-align: center;">
	
	<h2>Send email to: {{name}}</h2><br> <br>
		

		
		<textarea class="text" name="description" style="text-align: left; width: 400px; height: 400px; overflow: auto;" >{{article_desc}}</textarea>
		<br>
	<input type="submit" value="Submit">

</form>
