
<div class='signup'>
     <section id="session"></section>
    <h2> SIGN UP</h2>
    <form action="/users" method="post">
    
        <div>
        <div>
            <label>Name:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="name" placeholder="Enter your name"/>
        </div>
        <br>
        <div>
            <label>Username:</label>
            <input type="text" name="email" placeholder="Enter your email"/>
        </div> 
        <br>
        <div>
            <label>Password:</label>&nbsp;
            <input type="password" name="password" placeholder="Enter your password"/>
        </div>
        <br>
        <div>
           <button id="signup-button">Sign Up</button>
        </div>
        </div>
    </form>
</div>


 