<nav class="nav">
    <a href="/contribute/{{id}}">Post an Article</a>
</nav>
<p> Hello <a href='/sessions'> {{name}}</a></p>
<div id="delete">
    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log Out">
    </form>
</div>
