
 <nav class="nav">
 <a href="/contribute/{{id}}">Contribute</a>
 </nav>

 <h1> Welcome to the page: {{name}}</h1> 
 <div id="delete">
<form action="/sessions" method="POST">
	
	
<input type="submit" value="Delete">
</form>
</div>