body {
  width: 100%;
  height: 100%;
  font-family: Raleway;
  font-weight: 500;
  background: white;

}
#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

}


#button {
    margin: auto;
    padding: 8px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    font-size: 38px;
    
}

#but {
  background-color: lavender;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
 
}

.nav {
   display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  
  /*margin-left: 20%;
  margin-right: 15%;
  position: fixed;*/
  /*background: #F0F0F0;*/

  position:fixed;
  width:70%;
  height:12%;
  z-index:15;
  /*top:50%;*/
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;

}



.nav #button, .nav #button:visited {
  text-decoration: none;
  color: black;
 
}


#button input {
  width: 100%;
  height: 50px;
 /* margin-top:-50px; */
  font: 22px bold oblique;
  border-radius: 10%;
  overflow: hidden;
  -moz-box-shadow: 3px 4px 0px 0px #899599;
}

#button input:hover {
   text-shadow: 1px 1px grey;
   -moz-box-shadow: 3px 4px 0px 0px #894599;
}

#button:active {
  position:relative;
  top:2px;
}



 


#w {
/*  text-align: left;*/
  font-size: 50px;
  text-shadow: 6px 6px grey;
  margin-left: 300px;
  margin-top: 40px;
  position: fixed;


}

#w:hover {
  color: grey;
  
}

.cat {
  text-align: center;
  width: 80%;
  /*height: 60%;*/
  margin-left: 10%;
  margin-right: 15%;

  float: left;
  
}

#category {
  margin-top: 6%;
}

.catt {
  text-align: center;
  width: 80%;
  height: 60%;
  margin-left: 10%;
  margin-right: 15%;
  m
  float: left;
  overflow: scroll;
}
.cat a, .nav a:visited {
  text-decoration: none;
  font-size: 30px;
  color: black;

}

p {
    margin: 0 300px 0 300px;
    
}
.cat a:hover{
  color: blue;
}

.sign {
    float: left;
    margin-top: -140px;
    margin-left: 75%;
    position: fixed;

}

.sign a {
  font-size: 23px;
  padding: 10px;
  text-decoration: none;
  color: black;


}
.sign p {
  width: 100%;
 position: fixed;
  font-size: 23px;
  margin-left: -150px;

}

.sign a:hover{
  color: blue;
}

.signup {
  position:absolute;
  width:250px;
  height:200px;
  z-index:15;
  top:50%;
  left:50%;
  margin:-100px 0 0 -150px;
  text-align: center;

}

#link {
  float: left;
  position: relative;
  left: 18%;
}

img {
  width: 700px;
  height: 400px;
  position:fixed;
  z-index:15;
  top:60%;
  left:50%;
  margin:-100px 0 0 -310px;
  overflow: hidden;
  text-align: center;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

a {
  text-decoration: none;
  font-color: black;
}

a:hover {
  color: blue;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}
header {
    height: 100px;
    width: 100%;
    background-color: white;
    overflow: hidden;

    
}

footer p {
    
    margin-top: 49%;
    width: 100%;
    position: fixed;
    font-size: 5px;
    height: 8%;
    text-align: center;
}

#link {
  float: left;
  width: 810px;
  padding: 20px;
  font-size: 30px;

}

li {
  list-style-type: none;
}


.logout {
   float: right;
    position: relative;
    margin-right: 100px;
    margin-top: -20px;
    position: fixed;
}

.about p{
   /*position:absolute;*/
   position:fixed;
  width:70%;
  height:60%;
  z-index:15;
  /*top:50%;*/
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 30px;
  overflow: hidden;

}

object {
  position:fixed;
  width:70%;
  height:60%;
  z-index:15;
  /*top:50%;*/
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 30px;
  overflow: scroll;


}